* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

body {
  max-width: 1500px;
}

header {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: thin solid lightgrey;
  background-color: white;
  z-index: 1;
}

.icons > * {
  margin-left: 20px;
}

.create-account > * {
  padding: 0 auto;
}

.second-img {
  width: 720px;
  margin: 0 auto;
}

.second-img figure > * {
  width: 100%;
  color: #666;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.header_items:nth-child(1) > * {
  margin-left: 15px;
}

.header_items svg {
  width: 280px;
  padding-top: 10px;
}

.header_items button {
  padding: 10px;
  border-radius: 4px;
  background-color: #326891;
  color: white;
}

main {
  position: relative;
  top: 85px;
  width: 100%;
}

.header_of_main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header_of_main h1 {
  display: inline-block;
  max-width: 550px;
  font-weight: 200;
  font-size: 2.8rem;
  padding: 20px;
}

article figure {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  margin: 30px 0;
}

.header_of_main figure {
  color: #666;
  font-family: georgia, 'times new roman', times, serif;
  margin-right: 7px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  min-width: 870px;
  max-width: 1200px;
  text-align: left;
}

main aside img {
  width: 75px;
  height: 100%;
}

.header_of_main figure img {
  width: 100%;
}

article {
  max-width: 600px;
  width: 600px;
  margin: 20px auto 0 auto;
}

article > div {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

article > p {
  margin-bottom: 15px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: georgia, 'times new roman', times, serif;
}

main aside {
  position: absolute;
  top: 1200px;
  left: 82%;
  width: 210px;
}

main aside > div {
  display: flex;
  padding: 10px;
}

main aside p {
  width: calc(100% - 85px);
  font-size: 14px;
  color: rgb(51, 51, 51);
  margin-left: 10px;
}

.create-account {
  display: flex;
  justify-content: center;
}

.create-account div::before,
.create-account div::after {
  display: flex;
  content: '';
  height: 1px;
  margin: 10px auto;
  width: 70px;
  background: lightgrey;
}

.theory-of-inflation {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #333;
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
}

.all-theories {
  margin-top: 50px;
  background-image: url('https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-720.png');
  background-color: #ccc;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  padding-top: 190px;
  grid-row-gap: 280px;
}

.theory {
  min-width: 228px;
}

.by-larry {
  padding-top: 80px;
}

.by-larry::before {
  display: block;
  content: '';
  height: 3px;
  margin: 15px 0;
  width: 70px;
  background: lightgrey;
}

.all-theories p {
  font-weight: 300;
}

article iframe {
  margin: 0 auto;
}

article small {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0 auto 1em;
  color: rgb(102, 102, 102);
}

.article-footer {
  display: flex;
  justify-content: space-between;
}

.article-footer button {
  cursor: pointer;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: white;
  width: 330px;
  max-width: 600px;
  padding: 5px 0;
  font-weight: 650;
  line-height: 1.5rem;
}

.more-article {
  display: flex;
  justify-content: center;
}

.content {
  width: 57%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #333;
}

.content-header {
  grid-column: 1/-1;
  justify-self: start;
  padding: 17px 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  width: 100%;
}

.top-line::before {
  display: block;
  content: '';
  height: 2px;
  width: 100%;
  background: #333;
  margin-bottom: 15px;
}

.rec-article {
  max-width: 272px;
  min-width: 210px;
}

.rec-article figure {
  padding-bottom: 4px;
  font-size: 0.625rem;
  text-align: right;
  color: rgb(153, 153, 153);
  line-height: 1.23em;
  margin-top: 3px;
}

.rec-article figure img {
  width: 100%;
}

.rec-article h3 {
  font-size: 1.125rem;
  line-height: 22px;
}

.footer-aside-bar h3 {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 15px 0;
  color: rgb(18, 18, 18);
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.rec-article h3:hover {
  cursor: pointer;
  color: rgb(102, 102, 102);
}

.rec-article small {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.3px;
  color: rgb(153, 153, 153);
}

article small a {
  color: rgb(102, 102, 102);
}

.footer-aside-bar {
  width: 20%;
  margin-left: 20px;
  border-top: 1px solid #333;
}

.index-heading {
  display: flex;
  justify-content: space-between;
  border-top: lightgrey;
  border-style: double;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 10px;
}

.index {
  margin-top: 50px;
}

.index-logo {
  height: 50px;
  width: 300px;
  margin-left: 8%;
}

.index-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  padding-top: 1em;
  margin-left: 6%;
}

.index-titles h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.index-titles li {
  list-style: none;
}

.site-index-section-list {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  padding-bottom: 2em;
}

.site-index-section-item {
  padding-top: 1em;
}

.site-index-section-link {
  color: black;
}

.site-index-section-link-bold {
  color: black;
  font-weight: 900;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-top-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.footer-link {
  font-size: x-small;
  font-weight: 400;
  color: #666;
  text-decoration: none;
  padding: 1em;
}

.footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.times-icon {
  width: 1rem;
  padding-right: 5px;
}

#subscribe {
  border-left-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  padding-left: 10px;
}

#other-content {
  border-top-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: 1px;
  border-right: none;
}
