* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* border: 1px solid black; */
}
body {
  width: 100%;
}
header {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: thin solid lightgrey;
  background-color: white;
  z-index: 1;
}

.header_items:nth-child(1) > * {
  margin-left: 15px;
}

.header_items svg {
  width: 280px;
  padding-top: 10px;
}

.header_items button {
  padding: 10px;
  border-radius: 4px;
  background-color: #326891;
  color: white;
}

main {
  position: relative;
  top: 85px;
  width: 100%;
}
.header_of_main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header_of_main h1 {
  font-family: Cheltenham Std Bold Italic Headline;
  display: inline-block;
  max-width: 550px;
  font-weight: 200;
  font-size: 2.8rem;
  padding: 20px;
}

.header_of_main figure {
  color: #666666;
  font-family: georgia, 'times new roman', times, serif;
  margin-right: 7px;
  font-size: 9px;
  line-height: 1rem;
  width: 80%;
}

.header_of_main figure img {
  width: 100%;
}

article {
  max-width: 600px;
  width: 600px;
  margin-left: calc((100% - 600px) / 2);
  margin: 20px auto 0 auto;
}

article > div {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

article > p {
  margin-bottom: 10%;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: georgia, 'times new roman', times, serif;
  font-family: #333333;
}

main aside {
  position: absolute;
  top: 1200px;
  left: 82%;
  width: 210px;
}
main aside > div {
  display: flex;
  padding: 10px;
}
main aside img {
  width: 75px;
  height: 100%;
}

main aside p {
  width: calc(100% - 85px);
  font-size: 14px;
  color: rgb(51, 51, 51);
  margin-left: 10px;
}
.create-account {
  display: flex;
  justify-content: center;
}

.create-account > * {
  padding: 0px auto;
}

.create-account div:before,
.create-account div:after {
  display: flex;
  content: '';
  height: 1px;
  margin: 10px auto;
  width: 70px;
  background: lightgrey;
}

.index-heading{
  display: flex;
  justify-content: space-between;
  border-top: lightgrey;
  border-style: double;
  border-bottom: none;
  border-left:none;
  border-right: none;
  padding-top: 10px;
  
}
.index-logo{
  height: 50px;
  width: 300px;
  margin-left:8%;
  
}
.index-titles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  padding-top: 1em;
  margin-left: 6%;
}
.index-titles h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.index-titles li {
  list-style: none;
}
.site-index-section-list {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  padding-bottom: 2em;
}
.site-index-section-item {
  padding-top: 1em;
}
.site-index-section-link {
  color:black;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-top-color:lightgray;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.footer-link {
  font-size: x-small;
  font-weight: 400;
  color: #666666;
  text-decoration: none;
  padding: 1em;
}

.footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
